<!DOCTYPE html>
<html ng-app="app">

<head>
    <base href="/" />
    <title>ngTick</title>

    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans">
    <link rel="stylesheet" href="demo-site/css/style.css" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.0/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>
</head>
<body>
    <style>
        .ng-cloak {
            display: none !important;
        }
    </style>

    <!--<div ng-controller="ctrl">

        <button ng-click="startClock('myclock')">start clock</button>

        <button ng-click="startTicker('myticker')">start ticker</button>

        <button ng-click="startCountdown('mycountdown')">start countdown</button>

        <span clock="myclock" format="MMM d, y h:mm:ss" trigger="true"></span>

        <span ticker="myticker" format="HH:mm:ss:sss" trigger="true"></span>

        <span countdown="mycountdown" format="HH:mm:ss:sss" duration="{ 'h': 0, 'm': 0, 's': 3 }" trigger="true"></span>
    </div>-->

    <div>
        <header>
            <h1>
                <a ui-sref="home">ngTick</a>
            </h1>

            <a href="https://github.com/scniro/ng-tick" target="_blank">
                <img src="https://assets-cdn.github.com/images/modules/logos_page/Octocat.png" />
            </a>
        </header>

        <aside class="spine">
            <ol>
                <li class="root">
                    <div></div><a ui-sref="home"><span>getting started</span></a>
                </li>
                <li class="static">
                    <span>directives</span>
                </li>

                <li class="sub">
                    <div></div><a ui-sref="clock"><span>clock</span></a>
                </li>
                <li class="sub">
                    <div></div><a ui-sref="countdown"><span>countdown</span></a>
                </li>

                <li class="sub">
                    <div></div><a ui-sref="ticker"><span>ticker</span></a>
                </li>
            </ol>
        </aside>

        <section ui-view class="content"></section>
    </div>

    <script src="demo-site/js/app.js"></script>
    <script src="ng-tick/src/ng-tick.js"></script>
    <script src="ng-tick/src/tock.js"></script>
</body>
</html>
