<!DOCTYPE html>
<html ng-app="app">

<head>
	<title>ngTick</title>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.0/angular.js"></script>
</head>
<body>
	<style>
		span {
			display: block;
		}
	</style>
<div ng-controller="ctrl">

	<button ng-click="startClock('myclock')">start clock</button>

	<button ng-click="startTicker('myticker')">start ticker</button>

	<button ng-click="startCountdown('mycountdown')">start countdown</button>

	<span clock="myclock" format="MMM d, y h:mm:ss" trigger="true"></span>
		
	<span ticker="myticker" format="HH:mm:ss:sss" trigger="true"></span>
		
	<span countdown="mycountdown" format="HH:mm:ss:sss" duration="{ 'h': 0, 'm': 0, 's': 3 }" trigger="true"></span>
	
	<span countdown="blash" format="HH:mm:ss:sss" duration="{ 'h': 0, 'm': 0, 's': 3 }" ></span>
</div>

	<script src="demo-site/js/app.js"></script>
	<script src="ng-tick/src/ng-tick.js"></script>
	<script src="ng-tick/src/tock.js"></script>
</body>
</html>
