<h1>clock</h1>
<section class="pane left">
    <span>Local</span>
    <span clock="myclock" format="medium" trigger="false" interval="100"></span>
    <br/>
    <span>London</span>
    <span clock="myclock2" format="medium" trigger="false" offset="0" interval="100"></span>
    <br/>
    <span>Sydney</span>
    <span clock="myclock3" format="medium" trigger="false" offset="+1100" interval="100"></span>
</section>
<section class="pane right">
    <tabs tabs="tabs" selected="0"></tabs>
</section>