<h1>getting started</h1>

<section class="pane left">
    <div>
        <pre><code prism class="language-shell">bower install ng-tick</code></pre>
    </div>

    <ul>
        <li>
            Include the <code prism class="language-javascript">ngTick</code> module as a dependency in your AngularJS application
        </li>
    </ul>

    <div>
        <pre><code prism class="language-javascript">angular.module('app', ['ngTick'])</code></pre>
    </div>

    <ul>
        <li>
            Use an included directive or leverage the <code class="inline-link"><a ui-sref="factory">engine</a></code> factory directly
        </li>
    </ul>
</section>
