<div>
    <pre><code prism class="language-javascript">

app.controller('ctrl', ['$scope', function ($scope) {
    $scope.duration = { 'h': 1, 'm': 30, 's': 45, 'ms': 500 };
        
    $scope.end = function() {
        $scope.mycountdown.end();
    }
    $scope.reset = function () {
        $scope.mycountdown.reset();
    }
    $scope.start = function () {
        $scope.mycountdown.start();
    }
    $scope.stop = function () {
        $scope.mycountdown.stop();
    }
        
    // optional callbacks
    $scope.$on('mycountdown:end', function (event, status) {
    });
    $scope.$on('mycountdown:reset', function (event, status, remaining) {
    });
    $scope.$on('mycountdown:start', function (event, status, remaining) {
    });
    $scope.$on('mycountdown:stop', function (event, status, remaining) {
    });
    $scope.$on('mycountdown:tick', function (event, status, remaining) {
    });
});</code>
</pre>
</div>