pre {
  margin: 0 !important; }

pre, code {
  font-size: 10pt; }

pre[class*="language-shell"] {
  background-color: #3E3D32; }
  pre[class*="language-shell"] code {
    text-shadow: none;
    color: white; }
