html, body, div, form, fieldset, legend, label {
  margin: 0;
  padding: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

th, td {
  text-align: left;
  vertical-align: top; }

h1, h2, h3, h4, h5, h6, th, td, caption {
  font-weight: normal; }

img {
  border: 0; }

aside.spine {
  width: 12.000em;
  padding-top: 2.000em; }
  aside.spine a {
    text-decoration: none;
    color: #767DC2; }
    aside.spine a:hover {
      text-decoration: underline; }
  aside.spine ol {
    list-style: none;
    padding-left: 0;
    margin: 0; }
    aside.spine ol li {
      padding-top: 0.125em;
      padding-bottom: 0.125em; }
      aside.spine ol li span {
        display: block;
        padding-left: 2.000em; }
      aside.spine ol li.static {
        color: #3E3D32; }
      aside.spine ol li.root div {
        border-bottom: solid 0.063em #D08C3B; }
      aside.spine ol li.sub {
        padding-left: 2.000em; }
        aside.spine ol li.sub div {
          border-bottom: solid 0.063em #D08C3B;
          border-left: solid 0.063em #D08C3B; }
      aside.spine ol li div {
        float: left;
        height: 0.375em;
        width: 1.250em;
        margin-top: 0.375em;
        margin-right: 0.500em; }

pre {
  margin: 0 !important; }

pre, code {
  font-size: 10pt; }

pre[class*="language-shell"] {
  background-color: #3E3D32; }
  pre[class*="language-shell"] code {
    text-shadow: none;
    color: white; }

tabs .header {
  list-style: none;
  padding: 0;
  margin: 0;
  position: relative;
  top: 0.063em;
  margin-top: -0.063em; }
  tabs .header li {
    float: left;
    cursor: pointer;
    padding: 0.500em 1.000em; }
    tabs .header li.active {
      background-color: #f5f2f0;
      border-top: solid 0.063em #CCC;
      border-left: solid 0.063em #CCC;
      border-right: solid 0.063em #CCC;
      border-bottom: solid 0.063em transparent; }
    tabs .header li:not(.active):hover {
      background-color: #CCC;
      border-bottom: solid 0.063em #CCC; }

tabs .body {
  clear: both;
  background-color: #f5f2f0;
  border: solid 0.063em #CCC; }

body {
  font-family: 'Open Sans', sans-serif;
  overflow: hidden;
  min-width: 58.000em;
  overflow-x: auto;
  background-color: #f5f2f0; }

header {
  width: 100%;
  box-sizing: border-box;
  padding: 0.500em 2.000em;
  height: 4.000em;
  background-color: #FFF;
  overflow: hidden;
  background-color: #689BB7; }
  header h1 {
    display: inline;
    font-size: 20pt;
    letter-spacing: 0.125em;
    color: #FFF;
    line-height: 180%;
    margin-left: 7.000em; }
  header a {
    text-decoration: none;
    color: inherit; }
    header a:nth-child(2) {
      float: right;
      position: relative;
      top: 1.750em;
      transition: .10s ease-in; }
      header a:nth-child(2) img {
        width: 8.000em; }
      header a:nth-child(2):hover {
        -webkit-transform: translateY(-1.875em);
        transform: translateY(-1.875em); }

section.content {
  padding: 2.000em;
  overflow-y: auto;
  overflow: auto;
  position: absolute;
  top: 4.000em;
  left: 12.000em;
  right: 0;
  bottom: 0;
  min-width: 42.000em;
  background-color: #FFF; }
  section.content h1 {
    margin-top: 0; }
  section.content section.pane {
    width: 50%;
    box-sizing: border-box;
    padding-right: 2.000em; }
    section.content section.pane.left {
      float: left; }
      section.content section.pane.left.attributes {
        width: 75%;
        font-size: 10pt; }
      section.content section.pane.left.icons {
        width: 50%;
        font-size: 10pt; }
    section.content section.pane.left.clock ul {
      list-style: none;
      float: left;
      width: 100%;
      padding: 0;
      margin: 0; }
      section.content section.pane.left.clock ul li {
        width: 20.000em;
        margin-bottom: 1.000em; }
        section.content section.pane.left.clock ul li span {
          display: inline-block; }
          section.content section.pane.left.clock ul li span:first-of-type {
            width: 3.500em;
            color: #D0A73B;
            background-color: #FFEAB0;
            border: solid 1px #D0A73B;
            border-radius: 4px;
            font-size: 10pt;
            padding: 0.063em 0.500em;
            margin-right: 0.500em; }
    section.content section.pane.left.factory ul li, section.content section.pane.left.formatting ul li {
      margin: 1.000em 0; }
    section.content section.pane.left.factory > div, section.content section.pane.left.formatting > div {
      border: solid 1px #CCC; }
    section.content section.pane.right {
      float: right; }

binary-clock {
  position: absolute;
  top: 0;
  left: 0; }
  binary-clock .field {
    float: left; }
  binary-clock .bit {
    width: 2.000em;
    height: 1.000em;
    border: solid 1px #689BB7;
    box-sizing: border-box; }
  binary-clock .bit.on {
    background-color: #CCE3EF; }
  binary-clock .bit.off {
    background-color: #98C0D6; }

#timer-lap {
  list-style: none;
  padding: 0; }

.tick {
  font-size: 20pt;
  margin: 0.500em 0;
  display: block;
  color: #689BB7; }

button {
  background: none;
  background-color: transparent;
  border: solid 1px #D0A73B;
  border-radius: 4px;
  padding: 4px 8px;
  outline: none;
  width: 4.500em; }
  button:hover, button:focus {
    background-color: #FFEAB0; }

.inline-link {
  border: solid 1px #689BB7;
  background-color: #CCE3EF;
  padding: 2px 4px;
  border-radius: 4px;
  white-space: nowrap; }
  .inline-link a {
    text-decoration: none;
    color: #689BB7; }

h2 {
  margin: 0;
  margin-bottom: 1.000em; }

h3 {
  color: #689BB7;
  margin-top: 0;
  font-size: 14pt; }

.callbacks .callback-detail {
  margin: 0.500em 0; }
  .callbacks .callback-detail > div {
    border-bottom: solid 0.063em #D08C3B;
    border-left: solid 0.063em #D08C3B;
    width: 1.250em;
    height: 0.375em;
    float: left;
    margin-top: 0.375em;
    margin-right: 0.500em; }
  .callbacks .callback-detail .callback-return {
    color: #689BB7;
    font-family: Consolas, 'Courier New', monospace;
    font-size: 10pt;
    display: inline-block;
    padding: 0.063em 0.250em;
    border: solid 1px #CCC;
    color: #689BB7;
    border-radius: 4px; }

.functions, .callbacks {
  margin-bottom: 1.000em; }
  .functions .function, .callbacks .function {
    margin: 0.500em 0; }

.returns {
  font-size: 10pt; }

.note {
  margin-bottom: 1.500em;
  padding: 0.500em 1.500em;
  background-color: #FFEAB0;
  border: solid 1px #D0A73B;
  border-radius: 6px;
  color: #D0A73B;
  font-size: 10pt;
  display: inline-block;
  font-style: italic; }
