button {
    background: none;
    background-color: transparent;
    border: solid 1px $contrast-3;
    border-radius: 4px;
    padding: 4px 8px;
    outline: none;
    width: 4.500em;

    &:hover, &:focus {
        background-color: $contrast-1;
    }
}

h2 {
    margin: 0;
    margin-bottom: 1.000em;
}

h3 {
    color: $accent-2;
    margin-top: 0;
    font-size: 14pt;
}