$gray-lighter: #f5f2f0;
$gray: #CCC;
$gray-darker: #7a7a7a;
$white: #FFF;
$blue: #689BB7;
$blue-light: #98C0D6;
$blue-lighter: #CCE3EF;
$spine-entry: #D08C3B;
$black: #3E3D32;
$link: #767DC2;
$yellow: #D0A73B;
$yellow-lighter: #FFEAB0;
