$gray-lighter: #f5f2f0;
$gray: #CCC;
$gray-darker: #7a7a7a;
$black: #3E3D32;
$accent: #0051BA;
$accent-1: #9DC4F6;
$accent-2: #2A82F2;
$accent-3: #036BF0;
$contrast: #FFDB58;
$contrast-1: #FFE99A;
$contrast-2: #FFCE19;
$contrast-3: #FFC900;
